.banner__container {
  display: grid;
  grid-template-columns: 5fr 720fr 577fr 5fr;
  grid-template-rows: 1fr 1fr;
  gap: 33px 9%;
  grid-auto-flow: column;
  grid-template-areas:
    ". banner__header banner__img ."
    ". banner__search banner__img .";
}

.banner__header {
  max-width: 503px;
  width: fit-content;
  margin-top: 63px;
  margin-left: auto;
  font-family: Montserrat;
  font-size: 33px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;

  grid-area: banner__header;
}

.banner__search {
  grid-area: banner__search;
}

.banner__img {
  grid-area: banner__img;
}

.banner__img img {
  position: relative;
  top: 57px;
  width: 100%;
}

.product {
  margin-bottom: 59px;
}

/*footer start*/
/*footer grid-group contacts about start*/

.footer__grid-group {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1px 79px;
  grid-auto-flow: column;
  grid-template-areas:
    "footer__contacts footer__about";
}

.footer__contacts { grid-area: footer__contacts; }

.footer__about { grid-area: footer__about; }

/*footer grid-group contacts about end*/

/*footer end*/