:root {
  --color-logo: #4A99D3;
  --color-text1: #0F001A;
  --color-text2: #004B84;
  --color-text3: #EB3223;
  --color-text4: #fff;
  --color-bg1: #EAF6FF;
  --color-bg2: #F12B2C;
  --color-searchbar-border: #FC0B0D;
  --color-light-green: #50CC98;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: rgb(255, 255, 255);

  
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(253, 45, 45, 0.15) 100%);
  box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.16);
  padding-top: 30px;

  padding-bottom: 34px;
}

.heading {
  max-width: 1075px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;

  padding-left: 40px;
}

.logo a {
  text-decoration: none;
  color: var(--color-logo);
}

.heading__group-reg-login-sell {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.heading__reg-login,
.heading__sell {
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.heading__link {
  text-decoration: none;
  color: var(--color-text1);
  position: relative;
  top: -9px;
}

.heading__sell img {
  position: relative;
  top: 6px;
}

/*Banner start*/


.banner {
  background-color: var(--color-bg1);
  max-width: 1297px;
  margin: 0 auto;
}


/*Search bar start*/
.banner__searchContainer {
  display: grid;
  grid-template-columns: 29px 4fr 1fr;
  width: 100%;
  height: 69px;
  border: 2px solid var(--color-searchbar-border);
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 31px;
}

/*
  .banner__searchContainer:focus-within img.searchIcon {
    display: none;
  }
*/
.banner__searchContainer:focus-within .searchBox::placeholder {
  color: transparent;
}

.searchIcon {
  grid-row: 1;
  grid-column: 1;
  padding-top: 16px;
}

.searchBox {
  background-color: transparent;
  border: 0;
  padding: 0.1rem;
  grid-column: 2;
  grid-row: 1;
  outline: none;
  color: var(--color-text2);
}

input.searchBox::placeholder {
  color: var(--color-text2);
}


.searchButton {
  background-color: transparent;
  grid-column: 3;
  grid-row: 1;
  cursor: pointer;
  border: none;
  padding: 0;
}

/*search bar end*/
/*Banner end*/

/*Cards start*/
.cards {
  max-width: 1300px;
  margin: 100px auto 137px auto;


}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.cards__card {
  width: 626px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
  padding: 38px 30px 27px 28px;
}

.cards__card h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  padding-left: 17px;
  margin: 0;
}

.cards__card p {
  font-size: 21px;
  font-weight: 300;
  line-height: 25px;
  width: 282px;
}

.cards__card a {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: block;
  width: 153px;
  height: 48px;
  padding-top: 11px;
  border-radius: 10px;
  background-color: var(--color-searchbar-border);
  margin: 37px auto 0 auto;
}

/*Cards end*/

/*Ads start*/
.goods {
  max-width: 1296px;
  margin: 0 auto;
}

.goods__container {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  justify-content: center;

}

.product {
  width: 308px;
  box-shadow: 4px 4px 4px 0px #0000001A;
  box-shadow: 1px 2px 12px 0px #00000040;


}

.goods__product-photo img {
  width: 308px;
  height: 271px;
  object-fit: scale-down;
}

.goods__product-info {
  padding-left: 19px;
  padding-right: 10px;
  padding: 0 10px 10px 19px;
}

.goods__product-info h4 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}

.goods__product-info h4 a {
  text-decoration: none;
  color: #000;
}

.goods__product-naming {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__link {
  color: var(--color-text3);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}

.goods__used {
  color: var(--color-text4);
  background-color: var(--color-bg2);
  width: Fixed (40px);
  height: 16px;
  padding: 2.2px 6px 2px 6px;
  border-radius: 4px;
  font-size: 9.5px;
  margin-right: 3px;
}

.goods__geo-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__geo {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.goods__date {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

/*view more grid start*/
.goods__view-more-container {
  display: grid;
  grid-template-columns: 1fr 221px 1fr;
  grid-template-rows: 71px;
  gap: 5px 14px;
  grid-auto-flow: column;
  grid-template-areas:
    "goods__filler1 goods__btn goods__filler2";
  margin-top: 82px;
}

.goods__btn {
  grid-area: goods__btn;
}

.goods__filler1 {
  grid-area: goods__filler1;
}

.goods__filler2 {
  grid-area: goods__filler2;
}

span.filler {
  margin-top: 33px;
  display: block;
  height: 2px;
  background-color: #e5e5e5;
  width: 100%;
}


.goods__btn {
  background-color: transparent;
  width: 221px;
  height: 71px;
  border: 1px solid var(--color-searchbar-border);
  border-radius: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

/*view more grid end*/
.divider-dots {
  text-align: right;
  margin: 0 auto;
}

/*Ads end*/

/*footer start*/
footer {
  background-color: var(--color-bg1);
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 110px 10px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.footer__about {
  max-width: 610px;
}

.footer__about h2 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.footer__about p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__grid-group ul {
  margin: 0;
  padding: 0;
}

.footer__grid-group li {
  list-style-type: none;
  margin-bottom: 30px;

}

.footer__grid-group a {
  text-decoration: none;
  color: #000;
}

.footer__grid-group h3 {
  margin: 0 0 29px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.thws {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 20px;
}

/*footer end*/