:root {
  --color-logo: #4A99D3;
  --color-text1: #0F001A;
  --color-text2: #004B84;
  --color-text3: #EB3223;
  --color-text4: #fff;
  --color-bg1: #EAF6FF;
  --color-bg2: #F12B2C;
  --color-searchbar-border: #FC0B0D;
  --color-bg-product-card: #FAFBFC;
  --color-radio-input-checked: #FFBA83;
  --color-radio-input-default: #FFBA83BF;
  --color-light-green: #50CC98;
}

.product-card__slider img {
  width: 100%;
  object-fit: scale-down;
}

/*radio controls gallery start*/
.radio-controls {
  text-align: center;
  margin: 0 auto;
}

.radio-controls input {
  display: none;
}

.radio-controls label {
  cursor: pointer;
  margin: 10px 4px;
}

.radio-controls label:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background: var(--color-radio-input-default);
  border-radius: 50%;
  z-index: 2;
  transition: box-shadow .4s ease,
    background .3s ease;
}

.radio-controls input:checked+label:before {
  background: var(--color-radio-input-checked);
}

/*radio controls gallery end*/

/*kill start*/
.user-card__nickname {
  display: none;
}

.user-card__nickname {
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}

/*kill end*/


.product-card {
  background-color: var(--color-bg-product-card);
}

.product-card__info h3 {
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0 0 0;
}

.product-card__info>h4:first-of-type {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: var(--color-searchbar-border);
  margin: 12px 0 28px 0;
}

.product-card__info>p:first-of-type {
  color: var(--color-light-green);
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.165em;
}

.product-card__info h5 {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin: 28px 0 0 0;
}

.product-card__info>.description {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000;
}

.product-card__user-card {
  background-color: #EAF6FF70;
  padding-bottom: 20px;
}

.user-card__user>h4 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 0 0;
  padding-top: 10px;
}

.user-card__user .user-location {
  margin: 0 0 0 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.avatar-name-container {
  display: flex;
  gap: 10px;
}

.user-card__user .user-name {
  padding-top: 15px;
}

a.user-call-link {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--color-text4);
  text-decoration: none;
  background-color: var(--color-light-green);
  border-radius: 10px;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 12px 12px 8px;
}

.product-card__user-card {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
  align-items: center;
}

.user-card__user {
  padding-left: 35px;
  flex-basis: 160px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 auto;
}

.user-card__user .user-avatar {
  margin-left: 6px;
}

.user-nickname {
  flex-grow: 1;
  margin: 0 auto;
}



.user-card__call-button {
  margin-top: 20px;
  margin-right: 90px;
}


@media screen and (max-width: 720px) {
  .product-card__slider {
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  .product-card {
    margin: 20px auto 30px auto;
    padding-bottom: 30px;
  }

  .product-card__info {
    padding: 10px 10px 10px 20px;
  }

  .product-card__info>.description {
    max-width: none;
  }

  .user-card__call-button {
    margin-right: 15px;
  }
}


@media screen and (min-width: 1440px) {
  .product-card {
    max-width: 1297px;
    margin: 190px auto 110px auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 6.17%;
  }

  .product-card__slider {
    flex-basis: 350px;
    flex-grow: 1;
  }

  .product-card__info {
    padding-top: 45px;
    width: 39.94%;
  }

  .product-card__info>.description {
    max-width: 419px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1439px) {
  .product-card {
    max-width: 1297px;
    margin: 60px auto 50px auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 6.17%;
  }

  .user-card__call-button {
    margin-right: 15px;
  }

  .product-card {
    max-width: 1297px;
    margin: 190px auto 110px auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 6.17%;
  }

  .product-card__slider {
    flex-basis: 350px;
    flex-grow: 1;
  }

  .product-card__info {
    padding-top: 45px;
    width: 39.94%;
  }

  .product-card__info>.description {
    max-width: 419px;
  }
}